<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light letra">
    <a class="navbar-brand" href="#">El Cairo</a>
    <a class="navbar-brand" href="#">{{ usuario.nombre }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h3  class="navbar-brand" ></h3>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="pedidos">Pedidos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="empleados" routerLinkActive="active">Empleados<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="mesas" routerLinkActive="active">Mesas <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="nav navbar-nav navbar-right">
     <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0" type="button">Logout</button>
    </form>
  </div>
</nav>
