
<div class="container-fluid fondo-registro">
    <div class="row">
      <div class="col-12 col-sm">
        <div class="container cuadro">
          <!-- <img src="../../../assets/img/login/logo-cairo.jpg" class="" alt=""> -->
          <h1>Hacete amigo de "El Cairo"</h1>
          <hr>
          <!-- Formulario -->
          <form>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationServer01">Nombre</label>
                  <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required>
                  <div class="valid-feedback">
                    chequeado!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationServer02">Apellido</label>
                  <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
                  <div class="valid-feedback">
                    chequeado!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationServerUsername">apodo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend3">@</span>
                    </div>
                    <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                    <div class="invalid-feedback">
                      los amigos tienen apodos.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationServer03">Ciudad</label>
                  <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
                  <div class="invalid-feedback">
                    Si no se de donde sos, como te voy a encontrar amigo.
                  </div>
                </div>
                <!-- <div class="col-md-3 mb-3">
                  <label for="validationServer04">State</label>
                  <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div> -->
                <!-- <div class="col-md-3 mb-3">
                  <label for="validationServer05">Zip</label>
                  <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div> -->
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                  <label class="form-check-label" for="invalidCheck3">
                    Acepta los terminos y condiciones?
                  </label>
                  <div class="invalid-feedback">
                    Los amigos se tienen confianza.
                  </div>
                </div>
              </div>
            </form>
          <!-- recaptcha y boton de registro -->
          <form [formGroup]="reactiveForm" class="mt-2 justify-content-md-center">
            <re-captcha (resolved)="resolved($event)" siteKey="6LcrYnkUAAAAANiwWwH6CyaermRPAeld9EkhPFKy" formControlName="recaptchaReactive"></re-captcha>
            <button class="btn btn-primary btn-block mt-3 g-recaptcha" data-sitekey="6LcrYnkUAAAAANiwWwH6CyaermRPAeld9EkhPFKy"  [disabled]="reactiveForm.invalid">Entrar</button>
            <a href="" class="btn btn-secondary btn-block mb-3">Hacete amigo</a>
          </form>
        </div>
      </div>
      <div class="col-12 col-sm">
        <div class="container-fluid cuadro-dos">
          <h3>Los amigos </h3>
          <hr>
          <p>“Es placentero y descansado encontrarse a las ocho de la tarde con los amigos en El Cairo o en algún boliche, porque a los amigos, a los verdaderos amigos, no hay por qué darles pelota. Si un amigo te dice: ‘Fui a ver una película iraní’, yo le digo: ‘Dejáme de romper las pelotas’.”</p>

        </div>
        <img class="rounded mx-auto d-block " src="../../../assets/img/registro/registro-cairo.jpeg" alt="">
      </div>
    </div><!-- Fin de row-->
  </div>
