
.cuadro {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px;
  background-color: rgba(167, 11, 11, 0.904);
  border-radius: 10px;
  color: white;
  /* object-fit: cover;
  filter: grayscale(65%); */
}

.cuadro h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.cuadro-dos{
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px;
  background-color: cornsilk;
  border-radius: 10px;
}

.fondo-registro {
  width: 100%;
  /* max-width: 425px; */
  height: 100%;
  margin: 0 auto;
  position: absolute;
  background-size: cover;
  background-color: rgba(95, 11, 11, 0.918);
  /* background: transparent url(../../../assets/img/login/login-cairo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  filter: grayscale(65%); */
}
