
<div class="container-fluid fondo-login">
  <div class="row justify-content-md-center">
    <div class="col-12 col-lg-offset-4 col-lg-4  mb-5 mt-5 ">
      <div class="container cuadro">
          <img src="../../../assets/img/login/logo-cairo.jpg" class="" alt="">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
          </div>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
            </div>
            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
          </div>
          <form [formGroup]="reactiveForm" class="mt-2 justify-content-md-center">
            <re-captcha (resolved)="resolved($event)" siteKey="6LcrYnkUAAAAANiwWwH6CyaermRPAeld9EkhPFKy" formControlName="recaptchaReactive"></re-captcha>
            <button class="btn btn-primary btn-block mt-3 g-recaptcha" (click)="entrar()" data-sitekey="6LcrYnkUAAAAANiwWwH6CyaermRPAeld9EkhPFKy"  [disabled]="reactiveForm.invalid">Entrar</button>
            <button class="btn btn-secondary btn-block mb-3" (click)="registro()">Registrate</button>
          </form>
      </div>
    </div>
  </div>
</div>


