<div class="container-fluid fondo">
  <div class="row ">
    <!-- Titulo de menu-->
    <div class="jumbotron jumbotron-fluid titular">
      <div class="container">
        <h1 class="display-4">Menu del dia</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Seleccion de mesas -->
    <h2>Mesas libres</h2>
    <div class="btn-group btn-group-toggle mb15 ml15 mr15" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> MESA01
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> MESA02
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> MESA03
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> MESA04
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> MESA05
      </label>
    </div>
  </div>

  <!-- Hacer pedido -->
  <app-menu-pedido [listaMenu]="listaMenu" ></app-menu-pedido>
  <div class="row">
  </div> <!--row end-->

</div>
